<template>
  <v-container>
    <v-layout row>
      <v-flex xs12>
        <v-card>
          <v-card-text>
            <h1 class="text-primary">{{ post && post.title }}</h1>
            <p style="margin: 0">{{ post && post.text }}</p>
          </v-card-text>
          <hr />
          <v-card-text
            v-for="(comm, index) of commets"
            :key="comm.id"
            style="
              border-bottom: 1px solid grey;
              width: 95%;
              margin: 0 auto;
              padding: 20px 0;
            "
          >
            <h4>Comment {{ index + 1 }}</h4>
            <h3>Name: {{ comm.user }}</h3>
            <div>
              <strong>Comment: </strong> <span>{{ comm.text }}</span>
            </div>
          </v-card-text>

          <v-card-actions style="margin-top: 20px">
            <v-spacer></v-spacer>
            <v-btn @click="deleteNews" class="error" flat>Delete</v-btn>
            <PostEditPopUp :fetch2="fetch" style="margin: 0 15px" />
            <PostComPopup :fetch="fetch" />
          </v-card-actions>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import PostEditPopUp from "./PostEditPopUp";
import PostComPopup from "./PostComPopup";

export default {
  props: ["id"],
  data() {
    return {
      post: null,
      commets: null,
    };
  },
  methods: {
    async fetch() {
      let id = this.$route.params.id;
      try {
        let res = await this.$axios.get(`posts/${id}`);
        this.post = res && res.data && res.data.post;
        this.commets = res && res.data && res.data.comments;
        console.log(this.post, "his.post");
        console.log(this.commets, "commmmmm");
      } catch (err) {
        console.error(err);
      }
    },
    async deleteNews() {
      const answ = confirm("Вы действительно хотите удалить новость?");
      if (answ === false) {
        return;
      }
      try {
        this.$axios.delete(`/posts/${this.id}`);
        this.$router.push("/");
        setTimeout(() => {
          alert("Вы успешно удалили Новость");
        }, 300);
      } catch (error) {
        console.log(error);
      }
    },
  },
  async mounted() {
    this.fetch();
  },
  watch: {
    $route: {
      handler: "fetch",
      immediate: true,
    },
  },
  components: {
    PostEditPopUp,
    PostComPopup,
  },
};
</script>
