<template>
  <div class="text-xs-center">
    <v-dialog v-model="popup" width="500">
      <template>
        <v-btn class="success" slot="activator" flat>Add comment</v-btn>
      </template>

      <v-card>
        <v-layout>
          <v-flex xs12>
            <v-toolbar dark color="indigo">
              <v-toolbar-title>Add comment</v-toolbar-title>
            </v-toolbar>
          </v-flex>
        </v-layout>
        <v-layout>
          <v-flex xs12>
            <v-card-text>
              <v-text-field
                name="name"
                label="Name"
                type="text"
                v-model="form.user"
              ></v-text-field>
              <v-text-field
                name="comment"
                label="Comment"
                type="text"
                multi-line
                v-model="form.text"
              ></v-text-field>
            </v-card-text>
          </v-flex>
        </v-layout>
        <v-divider></v-divider>
        <v-layout ut>
          <v-flex xs12>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn flat @click="closePopUp">Cancel</v-btn>
              <v-btn flat @click="addComm" class="success">Save</v-btn>
              <!-- @click="saveEdit" -->
            </v-card-actions>
          </v-flex>
        </v-layout>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
export default {
  props: {
    fetch: {
      type: Function,
    },
  },
  data() {
    return {
      popup: false,
      form: {
        user: "",
        text: "",
      },
    };
  },
  methods: {
    closePopUp() {
      this.popup = false;
      this.form = {};
    },
    async addComm() {
      if (this.form.user.length !== 0 && this.form.text.length !== 0) {
        try {
          const id =
            (await this.$route) && this.$route.params && this.$route.params.id;
          this.$axios.post(`/posts/${id}/comment`, this.form);
          this.form = {};
          this.popup = false;
          await this.fetch();
        } catch (error) {
          console.log(error);
        }
      }
    },
    // saveEdit() {
    //   if (this.editTitle !== "" && this.editDescription !== "") {
    //     this.$store.dispatch("updateAd", {
    //       title: this.editTitle,
    //       description: this.editDescription,
    //       id: this.ad.slug,
    //     });
    //     this.popup = false;
    //   } else {
    //     this.$store.commit(
    //       "setError",
    //       "Поля title и description не должны быть пустыми"
    //     );
    //   }
    // },
  },
  // watch: {
  //   popup (val) {
  //     if (val === false) {
  //       this.editTitle = this.ad.title
  //       this.editDescription = this.ad.description
  //     }
  //   }
  // }
};
</script>

<style>
</style>
