<template>
  <v-container grid-list-md>
    <h1 class="text--secondary mb-3">
      All News
      <span style="color: black">Page: {{ page }} из {{ allPage }}</span>
    </h1>
    <v-layout row wrap style="max-widht: 800px">
      <v-flex xs12 sm6 md6 lg6 v-for="post in myPosts" :key="post.id">
        <v-card>
          <v-card-title primary-title>
            <div>
              <h3 class="headline mb-0">{{ post.title }}</h3>
              <div>{{ post.text }}</div>
              <div>
                Create: {{ post.created_at.split("").slice(0, 10).join("") }}
              </div>
              <div>
                Update: {{ post.updated_at.split("").slice(0, 10).join("") }}
              </div>
            </div>
          </v-card-title>

          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn reised :to="'/posts/' + post.id" class="primary">Open</v-btn>
          </v-card-actions>
        </v-card>
      </v-flex>
    </v-layout>
    <v-layout>
      <!-- <Pagination @paginate="getResult" :limit="2" /> -->

      <v-flex
        xs12
        style="justify-content: center; display: flex; margin-top: 30px"
      >
        <div class="pagination">
          <v-icon @click="prevPage" left>undo</v-icon>
          <div v-for="num of listPag" :key="num" @click="toPage">
            <button
              v-if="
                num == 1 ||
                num == listPag ||
                (page - 1 <= num && page + 1 >= num)
              "
            >
              {{ num }}
            </button>
            <button
              disabled="true"
              :key="item"
              v-else-if="
                (page + 1 < num && page + 2 >= num) ||
                (page - 1 > num && page - 2 <= num)
              "
            >
              ...
            </button>
          </div>
          <v-icon style="margin-left: 16px" @click="nextPage" left>redo</v-icon>
        </div>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  data() {
    return {
      myPosts: [],
      page: 1,
      per_page: 4,
      total: 0,
      listPag: [],
      allPage: 0,
    };
  },
  methods: {
    getResult(res) {
      this.myPosts = res;
    },
    async toPage(arg) {
      console.log(arg);
      this.page = +arg.target.innerText;
      await this.fetch();
    },
    async prevPage() {
      if (this.page == 1) {
        return;
      }
      this.page -= 1;
      this.$router.push({ query: { page: this.page } });
      await this.fetch();
    },
    async nextPage() {
      if (this.page == this.listPag.length) {
        return;
      }
      this.page += 1;
      this.$router.push({ query: { page: this.page } });
      await this.fetch();
    },
    async fetch() {
      try {
        // let res = await this.$store.dispatch("fetchPost");
        let res = await this.$axios.get(
          `/posts?page=${this.page}&per_page=${this.per_page}`
        );
        this.total = res && res.data && res.data.total;
        this.myPosts = res && res.data && res.data.data;
        this.myPosts.reverse();
        console.log(this.total, "total");
        console.log(this.page, "page");
        console.log(this.per_page, "per_page");
      } catch (err) {
        console.error(err);
      }
    },
    ofPage() {
      const num = this.total / this.per_page;
      this.allPage = Math.ceil(num);
      for (let i = 1; i <= Math.ceil(num); i++) {
        this.listPag.push(i);
      }
    },
  },
  async mounted() {
    await this.fetch();
    this.ofPage();
    console.log(this.myPosts.reverse());
  },
};
</script>
<style >
.pagination {
  display: flex;
}
.pagination div {
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  color: #ffffff;
  background: #0057a0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  cursor: pointer;
  margin: 0 5px;
}
</style>