<template>
  <div class="text-xs-center">
    <v-dialog v-model="popup" width="500">
      <template>
        <v-btn class="warning" @click="edit" slot="activator" flat>Edit</v-btn>
      </template>

      <v-card>
        <v-layout>
          <v-flex xs12>
            <v-toolbar dark color="indigo">
              <v-toolbar-title>Edit news</v-toolbar-title>
            </v-toolbar>
          </v-flex>
        </v-layout>
        <v-layout>
          <v-flex xs12>
            <v-card-text>
              <v-text-field
                name="title"
                label="Title"
                type="text"
                v-model="form.title"
              ></v-text-field>
              <v-text-field
                name="description"
                label="Description"
                type="text"
                multi-line
                v-model="form.text"
              ></v-text-field>
            </v-card-text>
          </v-flex>
        </v-layout>
        <v-divider></v-divider>
        <v-layout ut>
          <v-flex xs12>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn flat @click="closePopUp">Cancel</v-btn>
              <v-btn flat @click="saveEdit" class="success">Save</v-btn>
              <!-- @click="saveEdit" -->
            </v-card-actions>
          </v-flex>
        </v-layout>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
export default {
  props: {
    fetch2: {
      type: Function,
    },
  },
  data() {
    return {
      popup: false,
      form: {
        title: "",
        text: "",
      },
    };
  },
  methods: {
    closePopUp() {
      this.popup = false;
      this.form.title = this.form.title;
      this.form.text = this.form.text;
    },
    edit() {
      this.fetch();
    },
    async fetch() {
      const id = this.$route && this.$route.params && this.$route.params.id;
      try {
        let res = await this.$axios.get(`posts/${id}`);
        this.form = res && res.data && res.data.post;
      } catch (err) {
        console.error(err);
      }
    },
    async saveEdit() {
      const id = this.$route && this.$route.params && this.$route.params.id;
      if (this.form.title !== "" && this.form.text !== "") {
        await this.$axios.put(`/posts/${id}`, this.form);
        this.popup = false;
        await this.fetch2();
        // this.$router.go();
      } else {
        this.$store.commit(
          "setError",
          "Поля title и description не должны быть пустыми"
        );
      }
    },
  },
  async mounted() {},
  // watch: {
  //   popup (val) {
  //     if (val === false) {
  //       this.editTitle = this.ad.title
  //       this.editDescription = this.ad.description
  //     }
  //   }
  // }
};
</script>

<style>
</style>
