.orders__new__statistic > .row {
  margin: 0 -10px;
}
.orders__new__statistic > .row > .col-md-6,
.orders__new__statistic > .row > .col-md-12 {
  padding: 0 10px;
}
.orders--new {
  background-color: #f1f1f1;
}
.statistic-block {
  margin-bottom: 20px;
}
.statistic-block .green-counter {
  color: rgb(56, 142, 60) !important;
}
.statistic-block .red-counter {
  color: rgb(244, 67, 54);
}
.statistic-block .row {
  margin: 0 -7px;
}
.statistic-block .col-md-6,
.statistic-block .col-md-12 {
  padding: 0 7px;
}
.statistic-block__title {
  font-size: 14px;
  color: #fff;
  text-align: center;
  border-radius: 10px;
  padding: 3px;
  background-color: #1c4e80;
  /* margin-bottom: 15px; */
}
.statistic-block__item {
  background-color: #fff;
  border-radius: 10px;
  text-align: center;
  padding: 10px 20px;
  margin: 15px 0 0px 0;
}
.statistic-block__item--desk {
  font-style: italic;
  /* margin-bottom: 10px; */
}
.statistic-block__item--all {
  font-size: 36px;
  color: rgb(32, 32, 32);
}
.statistic-block__item--profit {
  display: flex;
  align-items: center;
  justify-content: center;
}
.statistic-block__item--profit-img {
  max-width: 100%;
  height: 20px;
  position: relative;
  top: -2px;
}
.statistic-block__item--profit-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}
.statistic-block__item--profit-counter {
  font-size: 18px;
  margin: 0 5px;
}
