<template>
  <div class="home">
    <section>
      <PostList />
    </section>
  </div>
</template>

<script>
// @ is an alias to /src
import PostList from "@/components/Posts/PostList.vue";

export default {
  name: "Home",
  components: {
    PostList,
  },
};
</script>
