<template>
  <v-container>
    <v-layout row>
      <v-flex xs12 sm6 offset-md3>
        <h1 class="text--secondary mb-3">New news</h1>
        <v-form ref="form" v-model="valid" class="mb-3" lazy-validation>
          <v-text-field
            name="title"
            label="News Title"
            type="text"
            required
            :rules="[(v) => !!v || 'Title is required']"
            v-model.trim="form.title"
          ></v-text-field>
          <v-text-field
            name="text"
            label="News Description"
            type="text"
            multi-line
            :rules="[(v) => !!v || 'Description is required']"
            v-model.trim="form.text"
          ></v-text-field>
        </v-form>
        <v-layout row>
          <v-flex xs12>
            <v-spacer></v-spacer>
            <v-btn @click="createAd" class="success">Add news</v-btn>
          </v-flex>
        </v-layout>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  data() {
    return {
      form: {
        title: "",
        text: "",
      },
      valid: false,
    };
  },
  methods: {
    async createAd() {
      if (this.$refs.form.validate()) {
        if (this.form.title.length > 0 && this.form.text.length > 0) {
          await this.$axios.post("/posts", this.form);
          this.$router.push("/");
          this.form = {};
          setTimeout(() => {
            alert("Вы успешно создали Новость");
          }, 300);
        } else {
          alert("Заполните форму");
        }
      } else {
        alert("Заполните форму");
      }
    },
  },
};
</script>
