<template>
  <div class="utils orders--new">
    <br />
    <hr />
    <br />
    <h1>Статистика</h1>
    <div class="orders__new__statistic">
      <div class="row">
        <div
          class="col-md-6"
          v-for="block of numericalStatistics"
          :key="block && block.id"
        >
          <div class="statistic-block">
            <div class="statistic-block__title">{{ block && block.title }}</div>
            <div class="row">
              <!-- для статистики -->
              <div
                class="col-md-6"
                v-for="item of block && block.data"
                :key="item.id"
              >
                <div class="statistic-block__item">
                  <div class="statistic-block__item--desk">
                    {{ item && item.title }}
                  </div>
                  <div class="statistic-block__item--all">
                    {{ item && item.num }}
                  </div>
                  <div class="statistic-block__item--profit">
                    <div class="statistic-block__item--profit-img">
                      <img
                        :src="item && item.frofit && item.frofit.icon"
                        alt="profit"
                      />
                    </div>
                    <span
                      class="statistic-block__item--profit-counter red-counter"
                      :class="{
                        'green-counter':
                          item && item.frofit && item.frofit.isFrofit,
                      }"
                      >{{ item && item.frofit && item.frofit.count }}</span
                    >
                  </div>
                </div>
              </div>
              <!-- для чартов -->
              <div class="col-md-12" v-if="block && block.chart">
                <div class="chart-block-item statistic-block__item">
                  <h2>Тут будут чарты</h2>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row" v-for="table of tableStatistics" :key="table.id">
        <div class="col-md-12">
          <div class="table-block">
            <div class="statistic-block__title">
              Заказов создано таксопарками
            </div>
            <div class="table-statistic">
              <table width="100%">
                <thead class="table-statistic-thead">
                  <tr>
                    <th width="3%"></th>
                    <th width="15%">Таксопарк</th>
                    <th width="15%">Всего заказов</th>
                    <th width="22%">Успешных заказов</th>
                    <th width="22%">Отменённых заказов</th>
                    <th width="23%">% успешных заказов</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>Faem Владикавказ</td>
                    <td>34 699</td>
                    <td>26 749</td>
                    <td>7 950</td>
                    <td>77,09 %</td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>Faem Владикавказ</td>
                    <td>34 699</td>
                    <td>26 749</td>
                    <td>7 950</td>
                    <td>77,09 %</td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>Faem Владикавказ</td>
                    <td>34 699</td>
                    <td>26 749</td>
                    <td>7 950</td>
                    <td>77,09 %</td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>Faem Владикавказ</td>
                    <td>34 699</td>
                    <td>26 749</td>
                    <td>7 950</td>
                    <td>77,09 %</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <br />
      <br />
      <hr />
      <br />
    </div>
    <h1>Календарь</h1>
    <div class="calendar">
      <date-range-picker
        ref="picker"
        v-model="dateRange"
        format="YYYY-MM-dd"
        lang="ru"
      ></date-range-picker>
    </div>
    <br />
    <hr />
    <br />
    <h1>Селекты</h1>
    <br />
    <hr />
    <section class="select-flex">
      <div class="select">
        <Select
          :title="region.title"
          :items="region.items"
          :choose="region.choose"
        />
      </div>
      <div class="select">
        <Select
          :title="taxipark.title"
          :items="taxipark.items"
          :choose="taxipark.choose"
        />
      </div>
      <div class="select">
        <Select
          :title="mainOrder.title"
          :items="mainOrder.items"
          :choose="mainOrder.choose"
        />
      </div>
      <div class="select">
        <Select
          :title="servises.title"
          :items="servises.items"
          :choose="servises.choose"
        />
      </div>
      <div class="select">
        <Select
          :title="payment.title"
          :items="payment.items"
          :choose="payment.choose"
        />
      </div>
    </section>
    <br />
    <hr />
    <br />
    <h1>Чарты</h1>
    <div class="chart"></div>
    <br />
    <hr />
    <br />
    <h1>Таблицы</h1>
    <div class="table"></div>
  </div>
</template>

<script>
import Select from "@/components/Select.vue";
import DateRangePicker from "vue2-daterange-picker";
//you need to import the CSS manually
import "vue2-daterange-picker/dist/vue2-daterange-picker.css";
export default {
  data() {
    return {
      dateRange: {
        startDate: "12/09/2021",
        endDate: "01/21/2022",
      },
      region: {
        title: "Регион",
        items: ["foo", "bar", "fizz", "buzz", "fizzbuzz", "foobar"],
        choose: ["foo", "bar", "fizz", "buzz", "fizzbuzz", "foobar"],
      },
      taxipark: {
        title: "Таксопарк",
        items: ["foo", "bar", "fizz", "buzz", "fizzbuzz", "foobar"],
        choose: ["foo", "bar", "fizz"],
      },
      mainOrder: {
        title: "Источник заказа",
        items: ["foo", "bar", "fizz", "buzz", "fizzbuzz", "foobar"],
      },
      servises: {
        title: "Сервис",
        items: ["foo", "bar", "fizz", "buzz", "fizzbuzz", "foobar"],
        choose: [],
      },
      payment: {
        title: "Способы оплаты",
        items: ["foo", "bar", "fizz", "buzz", "fizzbuzz", "foobar"],
      },
      //s;lknfsk
      numericalStatistics: [
        {
          title: "Заказы из всех источников",
          id: 1,
          data: [
            {
              id: 1,
              title: "Всего заказов",
              num: "36 569",
              frofit: {
                count: "42.1%",
                isFrofit: true,
                icon: require("@/assets/profityea.svg"),
              },
            },
            {
              id: 2,
              title: "% успешных заказов",
              num: "77,23 %",
              frofit: {
                count: "-11.4%",
                isFrofit: false,
                icon: require("@/assets/pofitN0.svg"),
              },
            },
            {
              id: 3,
              title: "Успешных заказов",
              num: "28 244",
              frofit: {
                count: "25.8%",
                isFrofit: true,
                icon: require("@/assets/profityea.svg"),
              },
            },
            {
              id: 4,
              title: "Отменённых заказов",
              num: "8 325",
              frofit: {
                count: "152.7%",
                isFrofit: true,
                icon: require("@/assets/profityea.svg"),
              },
            },
          ],
        },
        {
          title: "Заказы из мобильных приложений",
          id: 2,
          data: [
            {
              id: 1,
              title: "Всего заказов",
              num: "7 070",
              frofit: {
                count: "135.7%",
                isFrofit: true,
                icon: require("@/assets/profityea.svg"),
              },
            },
            {
              id: 2,
              title: "% успешных заказов",
              num: "51,37%",
              frofit: {
                count: "-18.0%",
                isFrofit: false,
                icon: require("@/assets/pofitN0.svg"),
              },
            },
            {
              id: 3,
              title: "Успешных заказов",
              num: "3 632",
              frofit: {
                count: "93.4%",
                isFrofit: true,
                icon: require("@/assets/profityea.svg"),
              },
            },
            {
              id: 4,
              title: "Отменённых заказов",
              num: "3 438",
              frofit: {
                count: "206.7%",
                isFrofit: true,
                icon: require("@/assets/profityea.svg"),
              },
            },
          ],
        },
        {
          title: "Заказы из CRM",
          id: 3,
          data: [
            {
              id: 1,
              title: "Всего заказов",
              num: "29 499",
              frofit: {
                count: "29.7%",
                isFrofit: true,
                icon: require("@/assets/profityea.svg"),
              },
            },
            {
              id: 2,
              title: "% успешных заказов",
              num: "77,23 %",
              frofit: {
                count: "83,43%",
                isFrofit: false,
                icon: require("@/assets/pofitN0.svg"),
              },
            },
            {
              id: 3,
              title: "Успешных заказов",
              num: "24 612",
              frofit: {
                count: "19.7%",
                isFrofit: true,
                icon: require("@/assets/profityea.svg"),
              },
            },
            {
              id: 4,
              title: "Отменённых заказов",
              num: "4 887",
              frofit: {
                count: "124.9%",
                isFrofit: true,
                icon: require("@/assets/profityea.svg"),
              },
            },
          ],
        },
        {
          title: "Заказов создано CRM/Apps",
          chart: true,
        },
        {
          title: "Заказов (всего, успешных, отменённых) по времени",
          chart: true,
        },
        {
          title: "% успешных заказов по времени",
          chart: true,
        },
      ],
      tableStatistics: [
        {
          id: 1,
          title: "Заказов создано таксопарками",
        },
        {
          id: 2,
          title: "Заказов обслужено таксопарками",
        },
        {
          id: 3,
          title: "Заказов в разрезе источника заказа",
        },
      ],
    };
  },
  methods: {},
  components: {
    Select,
    DateRangePicker,
  },
  setup() {
    const dateValue = ref([]);

    return {
      dateValue,
    };
  },
  created() {},
};
</script>

<style>
.table-statistic tbody tr td:first-child {
  padding-left: 10px;
}
.table-statistic tbody tr td {
  padding: 5px 0;
  text-align: right;
}
.table-statistic thead tr th {
  text-align: right;
}
.table-statistic thead tr th:last-child {
  padding-right: 10px;
}
.table-statistic tbody tr td:nth-child(2) {
  text-align: left;
}
.table-statistic tbody tr td:first-child {
  text-align: left;
}
.table-statistic thead tr th:nth-child(2) {
  text-align: left;
}
.table-statistic tbody tr td:last-child {
  padding-right: 10px;
}
.table-statistic tbody tr:not(:last-child) {
  border-bottom: 0.5px solid #d1d1d1;
}
.table-statistic {
  padding: 10px 0;
  margin-top: 10px;
  background-color: #fff;
  border-radius: 10px;
}
.table-statistic-thead {
  margin-top: 10px;
  background-color: #a5d8dd;
  border-radius: 10px;
}
.v-list__tile:hover {
  color: #000;
  text-decoration: none;
}
.reportrange-text {
  padding: 10px 15px !important;
  border-radius: 10px !important;
  font-size: 16px !important;
  height: auto;
  line-height: 100%;
}
.vue-daterange-picker {
  min-width: 341px !important;
}
.daterangepicker.openscenter {
  transform: translateX(-50%) !important;
  right: unset;
  left: 0 !important;
}
.calendar {
  display: flex;
  justify-content: flex-end;
}
.utils {
  max-width: 1200px;
  margin: 0 auto;
}
.select-flex {
  display: flex;
  justify-content: space-between;
}
.select {
  flex: 1;
}
.select:not(:last-child) {
  margin: 0 30px 0 0;
}
.v-chip .v-chip__content {
  height: auto !important;
  padding: 3px 12px;
}
.v-list__tile__action {
  min-width: auto !important;
}
.v-list__tile {
  padding: 0 10px !important;
  height: auto !important;
  margin: 10px 0 !important;
  font-size: 14px !important;
}
.v-menu__content::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3) !important;
  border-radius: 10px !important;
  background-color: #f5f5f5 !important;
}
.v-menu__content::-webkit-scrollbar {
  width: 6px !important;
  background-color: #f5f5f5 !important;
}
.v-menu__content::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3) !important;
  width: 6px;
  background-color: #555 !important;
}
</style>