<template>
  <div class="new--orders">
    <v-select v-model="chooseList" :items="itemsList" :label="title" multiple>
      <template v-slot:selection="{ item, index }">
        <v-chip v-if="index === 0">
          <span>{{ item }}</span>
        </v-chip>
        <span v-if="index === 1" class="grey--text caption" :key="index"
          >(+{{ chooseList.length - 1 }} others)</span
        >
      </template>
    </v-select>
    <pre>{{ choose }}</pre>
    <pre>{{ chooseList }}</pre>
  </div>
</template>
<script>
export default {
  props: {
    title: {
      type: String,
      default: "Title",
    },
    items: {
      type: Array,
      default: () => {
        return [];
      },
    },
    choose: {
      type: Array,
      default: () => {
        return [];
      },
    },
  },

  data: () => ({
    itemsList: [],
    chooseList: [],
  }),
  // computed: {
  //   newChoose() {
  //     return this.choose;
  //   },
  // },
  mounted() {
    this.itemsList = this.items;
    this.chooseList = this.choose;
  },
  watch: {
    chooseList(val) {
      this.$emit("postChoose", val);
    },
  },
};
</script>
<style scoped>
</style>