<template>
  <v-app>
    <header>
      <Header />
    </header>
    <v-content>
      <router-view></router-view>
    </v-content>
    <template v-if="error">
      <v-snackbar
        :multi-line="true"
        color="error"
        :timeout="5000"
        @input="closeError"
        :value="true"
      >
        {{ error }}
        <v-btn dark flat @click.native="closeError"> Close </v-btn>
      </v-snackbar>
    </template>
  </v-app>
</template>

<script>
import Header from "@/components/Header.vue";
export default {
  components: {
    Header,
  },
  computed: {
    error() {
      return this.$store.getters.error;
    },
  },
  methods: {
    closeError() {
      this.$store.dispatch("clearError");
    },
  },
};
</script>

<style>
.pointer {
  cursor: pointer;
}

body,
html {
  overflow-x: hidden;
  overflow-y: auto;
}
html::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}
html::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}
html::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}
</style>
